<div class="section dark notopmargin nobottommargin noborder" style="padding: 60px 0;background-color: #222;">
    <div class="container-fluid clearfix">

        <div class="col_one_fifth nobottommargin center" data-animate="bounceIn">
            <div class="counter counter-large" style="color: #3498db;"><span data-from="100" data-to="345" data-refresh-interval="20" data-speed="2000"></span></div>
            <h5>Hours Shared</h5>
        </div>

        <div class="col_one_fifth nobottommargin center" data-animate="bounceIn" data-delay="200">
            <div class="counter counter-large" style="color: #e74c3c;"><span data-from="10" data-to="116" data-refresh-interval="10" data-speed="2000"></span></div>
            <h5>Explored Ideeas</h5>
        </div>

        <div class="col_one_fifth nobottommargin center" data-animate="bounceIn" data-delay="400">
            <div class="counter counter-large" style="color: #e67e22;"><span data-from="2" data-to="178" data-refresh-interval="13" data-speed="3000"></span></div>
            <h5>Bananas Saved</h5>
        </div>

        <div class="col_one_fifth nobottommargin center" data-animate="bounceIn" data-delay="600">
            <div class="counter counter-large" style="color: #1abc9c;"><span data-from="50" data-to="1523" data-refresh-interval="25" data-speed="2500"></span></div>
            <h5>Kg saved</h5>
        </div>

        <div class="col_one_fifth nobottommargin center col_last" data-animate="bounceIn" data-delay="800">
            <div class="counter counter-large" style="color: #9b59b6;"><span data-from="50" data-to="469" data-refresh-interval="30" data-speed="2700"></span></div>
            <h5>Coffees consumed</h5>
        </div>

    </div>
</div>