<footer id="footer" class="dark">
	<!-- Copyrights
	============================================= -->
	<div id="copyrights">

		<div class="container clearfix">

			<div class="col_half">
				Food Waste Combat
			</div>
			<div class="col_half">
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

			<div class="col_half col_last tright">
				<div class="fright clearfix">
					<div class="copyrights-menu copyright-links nobottommargin">
						<a href="#">Home</a>/<a href="#">Projects</a>/<a href="#">About</a>/<a href="#">FAQs</a>/<a
							href="#">Contact</a>
					</div>
				</div>
			</div>

		</div>

	</div><!-- #copyrights end -->

</footer><!-- #footer end -->
{{ partial "svg" . }}

<script src="/app.js"></script>

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script src="/js/functions.js"></script>

<script>
	jQuery(document).ready(function ($) {
		var $faqItems = $('#faqs .faq');
		if (window.location.hash != '') {
			var getFaqFilterHash = window.location.hash;
			var hashFaqFilter = getFaqFilterHash.split('#');
			if ($faqItems.hasClass(hashFaqFilter[1])) {
				$('#portfolio-filter li').removeClass('activeFilter');
				$('[data-filter=".' + hashFaqFilter[1] + '"]').parent('li').addClass('activeFilter');
				var hashFaqSelector = '.' + hashFaqFilter[1];
				$faqItems.css('display', 'none');
				if (hashFaqSelector != 'all') {
					$(hashFaqSelector).fadeIn(500);
				} else {
					$faqItems.fadeIn(500);
				}
			}
		}

		$('#portfolio-filter a').click(function () {
			$('#portfolio-filter li').removeClass('activeFilter');
			$(this).parent('li').addClass('activeFilter');
			var faqSelector = $(this).attr('data-filter');
			$faqItems.css('display', 'none');
			if (faqSelector != 'all') {
				$(faqSelector).fadeIn(500);
			} else {
				$faqItems.fadeIn(500);
			}
			return false;
		});
	});
</script>