<!--<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">-->

	<!--&lt;!&ndash; Logo &ndash;&gt;-->
	<!--<a href="/" class="pa3 db mr4 h-100 w3 flex-none">-->
		<!--<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>-->
	<!--</a>-->

	<!--&lt;!&ndash; Primary Nav &ndash;&gt;-->
	<!--<ul class="flex b grey-3">-->
		<!--<li><a href="/products" class="pa3 no-underline db">Products</a></li>-->

		<!--<li><a href="/values" class="pa3 no-underline db">Values</a></li>-->

		<!--<li><a href="/post" class="pa3 no-underline db">Blog</a></li>-->

		<!--<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>-->
	<!--</ul>-->

<!--</nav>-->

<header id="header" class="full-header">

	<div id="header-wrap">

		<div class="container-fluid clearfix">

			<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

			<!-- Logo
			============================================= -->
			<div id="logo">
				<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="/img/groceries.svg" alt="Canvas Logo"></a>
				<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="/img/groceries.svg" alt="Canvas Logo"></a>
			</div><!-- #logo end -->

			<!-- Primary Navigation
			============================================= -->
			<nav id="primary-menu">

				<ul>
					<li><a href="index.html"><div>Pagina Principala</div></a>
					</li>
					<li class="current"><a href="#"><div>Proiecte</div></a>
						<ul>
							<li><a href="#"><div>Banca de alimente</div></a></li>
							<li><a href="#"><div>Restaurant</div></a></li>
							<li><a href="#"><div>Alimente</div></a></li>
							<li><a href="#"><div>Liceul</div></a></li>
							<li><a href="#"><div>Banca de alimente</div></a></li>
							<li><a href="#"><div>Scoala</div></a></li>
						</ul>
					</li>
					<li><a href="index.html"><div>Despre Noi</div></a>
					</li>
					<li><a href="index.html"><div>Echipa</div></a>
					</li>
					<li><a href="index.html"><div>Contact</div></a>
					</li>
				</ul>
			</nav><!-- #primary-menu end -->

		</div>

	</div>

</header><!-- #header end -->
