<!-- Portfolio Single Gallery
		============================================= -->
<section id="slider" class="slider-element slider-parallax swiper_wrapper clearfix" style="height: 600px;">

    <div class="swiper-container swiper-parent">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('/img/portfolio/extended/3.jpg');"></div>
            <div class="swiper-slide" style="background-image: url('/img/portfolio/extended/1.jpg');"></div>
            <div class="swiper-slide" style="background-image: url('/img/portfolio/extended/4.jpg');"></div>
        </div>
        <div class="slider-arrow-left"><i class="icon-angle-left"></i></div>
        <div class="slider-arrow-right"><i class="icon-angle-right"></i></div>
    </div>

</section><!-- .portfolio-single-image end -->