{{ define "main" }}
<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

	<!-- Page Title
	============================================= -->
	<section id="page-title">

		<div class="container clearfix">
			<h1>{{ .Params.title}}</h1>
		</div>

	</section><!-- #page-title end -->
	{{if .Params.showSlider}}
	{{partial "slider-project-photo" .Params.sliderImages }}
	{{end}}
	<!-- Content
	============================================= -->
	<section id="content">

		<div class="content-wrap">

			<div class="container clearfix">

				<div class="{{if .Params.useTwoColumns }} col_half {{else}} col mw-100{{end}}">
					{{.Params.textCol1 | markdownify}}
				</div>
				{{if .Params.useTwoColumns }}
				<div class="col_half col_last">
					{{.Params.textCol2 | markdownify}}
				</div>
				{{end}}
			</div>
			{{if .Params.showVideo }}
			{{partial "video-or-photo-inline" .Params.videoPhoto }}
			{{ end }}

			{{if .Params.showCounter }}
			{{partial "food-waste-combat-counter" .Params.counter }}
			{{ end }}

			{{partial "project-item-text-photo-details" .Params.textPhotoSection }}


			<div class="clear"></div>

			{{partial "photo-galery-with-title" .Params.gallery}}
			<div class="clear"></div>

			<div class="container topmargin-lg clearfix">

				<div class="col_one_third">
					<h4>Case Study</h4>
					<p>Expedita similique fuga quae voluptatibus molestiae amet rem, veniam nihil, magni quo odit
						ducimus ipsum suscipit ea aliquid alias cumque. Lorem ipsum dolor sit amet, consectetur
						adipisicing elit. Pariatur modi eos maiores.</p>
				</div>

				<div class="col_one_third">
					<h4>Author Experience</h4>
					<p>Hic corporis modi tempora eligendi ipsa, odit voluptatum cupiditate perferendis architecto
						repellat odio nam. Quas nesciunt voluptate, incidunt id dolorum corporis deleniti, sapiente a
						ipsam molestias accusantium.</p>
				</div>

				<div class="col_one_third col_last">
					<h4>Like this Project?</h4>
					<p>Take some time sharing this project for the well being of its development.</p>
					<div class="si-share clearfix">
						<span>Share:</span>
						<div>
							<a href="#" class="social-icon si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>
							<a href="#" class="social-icon si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>
							<a href="#" class="social-icon si-borderless si-pinterest">
								<i class="icon-pinterest"></i>
								<i class="icon-pinterest"></i>
							</a>
							<a href="#" class="social-icon si-borderless si-gplus">
								<i class="icon-gplus"></i>
								<i class="icon-gplus"></i>
							</a>
							<a href="#" class="social-icon si-borderless si-email3">
								<i class="icon-email3"></i>
								<i class="icon-email3"></i>
							</a>
						</div>
					</div>
				</div>

			</div>

		</div>

	</section><!-- #content end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
{{end}}
