{{ define "main" }}
<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div class="clearfix">

	<!-- Page Title
	============================================= -->
	<section id="page-title">

		<div class="container clearfix">
			<h1>{{ .Params.title}}</h1>
		</div>

	</section><!-- #page-title end -->
	{{if .Params.showSlider}}
	{{partial "slider-project-photo" .Params.sliderImages }}
	{{end}}
	<!-- Content
	============================================= -->
	<section id="content">

		<div class="content-wrap">

			<div class="container clearfix">

				<div class="{{if .Params.useTwoColumns }} col_half {{else}} col mw-100{{end}}">
					{{.Params.textCol1 | markdownify}}
				</div>
				{{if .Params.useTwoColumns }}
				<div class="col_half col_last">
					{{.Params.textCol2 | markdownify}}
				</div>
				{{end}}
			</div>
			{{if .Params.showVideo }}
			{{partial "video-or-photo-inline" .Params.videoPhoto }}
			{{ end }}

			{{if .Params.counter.showCounter }}
			{{partial "food-waste-combat-counter" .Params.counter }}
			{{ end }}

			{{partial "project-item-text-photo-details" .Params.textPhotoSection }}


			<div class="clear"></div>

			{{partial "photo-galery-with-title" .Params.gallery}}
			<div class="clear"></div>



		</div>

	</section><!-- #content end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
{{end}}
